* {
    box-sizing: border-box;
}


.myContainer {
    min-width: 460px;
    width: 100%;
}

h1 {
    font-family: 'Black Ops One', cursive;
    text-align: center;
}

#logged-trains {
    background-color: yellow;
    color: black;
    font-family: 'Overpass Mono', monospace;

}

/* font-family: 'Black Ops One', cursive;
font-family: 'Electrolize', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Overpass Mono', monospace;
font-family: 'Average Sans', sans-serif; */